@import "normalize";
@import "settings";

// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, here are all the Foundation components.
@import
  "foundation/components/grid",
  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/icon-bar",
  "foundation/components/inline-lists",
  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/range-slider",
  "foundation/components/reveal",
  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switches",
  "foundation/components/tables",
  "foundation/components/tabs",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";

@import "appstyles";
@import "compass";

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|Tinos:400italic);

//MIXINS
@mixin media($type) {
  @if $type == desktop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }
  @if $type == tablet {
    @media only screen and (min-width: 641px) {
      @content;
    }
  }
  @else if $type == mobile {
    @media only screen and (max-width: 640px) {
      @content;
    }
  }
}

@mixin oswald {
  color: ivory;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

//VARIABLES
$logo: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/156296/troy-bike-rescue-logo_2.svg";
$background: "/images/background.jpg";
$noise: "/images/noise.png";
$redish: #eb2424;
$charcoal: #222222;

html {
  width: 100%;
  height: 100%;
  background-color: grey;
  background-image: url($background);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 0;
  body {
    background: transparent;
  }
}

nav {
  position: absolute;
  z-index: 1;
  #menu-title {
    display: none;
  }
}

li.tab {
  font-family: Tinos, Times-Roman, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.05em;
  list-style: none;
  &.active-tab {
    a {
      color: $redish;
      margin-left: 20px;
      @include transition(margin-left 0.3s ease-in-out);
    }
  }
  a {
    color: ivory;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(margin-left 0.3s ease-in-out);
    &:hover {
      color: $redish;
      @include transition(color 0.5s ease-in-out);
    }
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.columns {
  padding: 0 0;
}

#logo-container {
  margin: 100px auto 0 auto;
  padding: 20px;
  background: $redish url($noise);
  display: flex;
  flex-direction: column;
  text-shadow: 0px 2px 0px rgba(113, 18, 32, 0.6);
  @include media(mobile) {
    @include transition(width 0.3s ease-out);
    @include transition(height 0.3s ease-in);
    width: 200px;
    height: 200px;
    padding: 10px;
  }

  @include media(tablet) {
    @include transition(width 0.3s ease-in-out);
    width: 275px;
    height: 275px;
  }

  @include media(desktop) {
    width: 300px;
    height: 300px;
    @include transition(width 0.3s ease-in);
    @include transition(height 0.3s ease-in);
    margin-top: 125px;
    @include transition(margin-top 0.3s ease-in);
  }

  #logo-image {
    height: 75%;
    max-width: 75%;
    margin: auto auto;
    content: url($logo);
  }
  #logo-title {
    width: 100%;
    margin: auto auto;
    padding-bottom: 10px;
    @include oswald;
    letter-spacing: 5px;
    @include media(mobile) {
      font-size: 1.3em;
      line-height: 1.2em;
    }

    @include media(tablet) {
      font-size: 1.3em;
    }

    @include media(desktop) {
      text-shadow: 0px 4px 0px rgba(113, 18, 32, 0.6);
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1em;
    }
  }
}

#info-container {
  li {
    margin: 25px auto 0 auto;
    list-style-type: none;
    font-size: 1.5em;
    font-family: "Tinos", Times-Roman, serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    line-height: .5em;
    color: ivory;
    @include text-shadow(0px 0px 10px #a69191);
  }
}

#content-wrapper {
  //@include grid-row(collapse);
  @include grid-column(12, true, true, 0, 0, 0, true, left);
  margin-top: 10px;
  background-color: ivory;
  section.content {
    width: 100%;
    display: none;
    h1, h2, h4 {
      @include oswald;
      margin-top: 0px;
      background: $redish url($noise);
      color: ivory;
    }
    h2 { 
      font-size: 1.7em;
    }
    h1 {
      font-size: 2em;
      letter-spacing: 0.15em;
    }
    &.active-content{
      display: block;
    }
  }
}

//---------------------------------------
//handles the styling for the mobile menu
//---------------------------------------

@include media(mobile) {
  .primary {
    margin: 0 0;
    padding: 0 0;
  }
  nav {
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 0;
    background: url($noise), $charcoal; 
    background: url($noise), linear-gradient(adjust-lightness($charcoal, 10), $charcoal);  
    z-index:2;
    #menu-icon {
      &:before {
        position: relative;
        margin: 10px 0 0 10px;
        float: left;
        content: "\2261";
        font-size: 2em;
        color: ivory;
        cursor: pointer;
        z-index: 30;
      } 
    }
    #menu-title {
      @include oswald;
      display: inline;
      position: absolute;
      width: 100%;
      height: 50px;
      margin: 0 auto;
      top: 10px;
      font-size: 30px;
      letter-spacing: 5px;
      opacity: 0;
      @include transition(opacity .4s ease-in);
      &.fade-in {
        opacity: 1;
        @include transition(opacity .4s ease-in);
      }
    }  
    ul.menu {
      width: 100%;
      height: 0px;
      @include transition(height .6s ease-in-out);
      margin-left: 0px;
      margin-top: 50px;
      position: absolute;
      overflow: hidden;
      background: url($noise), $charcoal; 
      @include box-sizing("border-box");
      li.tab {
        width: 100%;
        height: 25px;
        font-style: normal;
        @include oswald;
        @include box-sizing("border-box");
        a {
          letter-spacing: 4px;
        }
        &.active-tab {
          a {
            margin-left: 0px;
            letter-spacing: 8px;
          }
        }
        &:last-child {
          padding-bottom: 15px;
          @include box-shadow(0px 5px 15px #222222);
        }
      }
      &.open-drawer {
        height: 175px;
        @include transition(height .6s ease-in-out);
      }
    }
  }
}