head
  meta(charset='UTF-8')
  meta(name='robots' content='noindex')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script(src='/js/min/modernizr.min.js')
  link(rel='stylesheet' href='/css/reset.css')
  link(rel='stylesheet prefetch' href='/css/foundation.css')
  link(rel='stylesheet' href='/css/style.css')
html
  body
    script(src='/js/min/jquery-1.11.1.min.js')
    script(src='/js/min/foundation.min.js')
    script(src='/js/min/index.min.js')
    .small-12.columns.primary      
      nav
        ul
          each tab in ['Troy Bike Rescue', 'Volunteer', 'Get a Bike', 'Calendar', 'Gallery', 'About', 'Shop']
            li.tab: a(href='#')= tab
      .row
        .small-12.large-6.small-centered.large-centered.columns
          .logo-container
            .logo
            .title troy bike rescue 
      .info-container.row
        
      .main.row       
        section.content.small-6.small-centered.columns
          h4 About Troy Bike Rescue
