.small-12.columns.primary      
  nav
    ul
      each tab in ['Troy Bike Rescue', 'Volunteer', 'Get a Bike', 'Calendar', 'Gallery', 'About', 'Shop']
        li.tab: a(href='#')= tab
  .row
    .small-12.large-6.small-centered.large-centered.columns
      .logo-container
        .logo
        .title troy bike rescue 
  .info-container.row
    
  .main.row       
    section.content.small-6.small-centered.columns
      h4 About Troy Bike Rescue