mixin content(type)
  -if (type==='about')
    .row
      h1.content-title About Us
      p.
        Troy Bike Rescue is a collective of cycling enthusiasts committed to removing bikes 
        from the waste stream and getting them back on the streets.

        We operate a volunteer-run community bike space where we organize:

        DiY bike repair nights: Open Shop 
        hands-on bicycle education: Learn Earn
        sliding scale bicycle adoption by Suggested Donation
        ... and mobile workshops

        We are part of an international movement of "community bike projects" - 
        using bicycles to create community.
    .row
      h2 Location &amp; Hours
    .row
      .small-6.columns
        h4 Location: 
        p  3280 6th avenue in North Troy (near Glen Ave.)
      .small-6.columns
        h4 Phone:  
        p (518) EAT-4TBR (328-4827)
    .row
      .small-6.columns
        h4 Open Shop:  
        p (Mon. &amp; Wed. 5:00 pm to 8:00pm) Self-Service Workshop with volunteer staff; come and volunteer, adopt a bike, or Learn &amp; Earn!
      .small-6.columns
        h4 Youth Shop: 
        p (Tues. 3:00 pm to 6:00 pm) Specific Hours for youth ages 10-15; Earn-A-Bike for volunteer hours; must have signed permission form from parents.  The first Tuesday of every month is Youthshop Ride Club.
    .row
      h4 Fem Shop: 
      p a weekly workshop night run by, and dedicated to empowering non-male identifying folk with bike maintenance skills.
      p Children under 10 years of age MUST be accompanied by a parent at all times.
  -else if(type==='get-a-bike')
    h1.content-title How to Get a Bike
    p.
      At Troy Bike Rescue, you can either give a sliding scale Suggested Donation 
      for a used bicycle, or you can chose to Learn and Earn for a bike. 
    h4.content-subtitle Adopt a Bike
    p.
      Refurbished bicycles are available for adoption for a donation on a sliding scale.  
      Bikes are grouped into several categories ($15-30, $30-60,  $60-100, etc...), 
      depending on quality and labor spent.  Adoption Bikes are available on a first come 
      first serve basis, and are sold "as is" (some may require some TLC).
      All proceeds from bike adoption fees pay TBR overhead.  
      Without your donations, we cannot do what we do.
    h4 Learn and Earn
    p.
      Youth and adults can 'learn and earn' to obtain a bike by putting in 6 Learn and Earn 
      hours working on Adoption Bikes and other TBR projects.  Learn and Earn hours and skills 
      can be aquired during open shop hours (for adults) and youth hours (under 16).
  -else if(type==='volunteer')
    .row
      h1 How to Get Involved

      h2 What is this place?
      p.
        TBR is a collective of bicycle enthusiasts committed to removing bikes from the waste stream, 
        and putting them back into use.  We build bicycle community through hands-on education. 
        Encouraging riding bicycles as a way of life and as resistance to  consumer culture.
        TBR is a volunteer-run, non-commercial space that has a commitment to peacably building 
        community and dismantling hierarchy.  We struggle against authoritarianism, capitalism, racism, 
        sexism and homophobia.  This means that within our space, we try to build a culture without hierarchy, 
        without discrimination and without violence or aggression..
        As a volunteer, practice mutual aid and respect.  Help those in need; Ask for help when you need it; 
        respect the space and everyone in it.
      h2 How to Get Involved?
      p.
        Volunteering is as simple as showing up to an open shop session and beginning to participate.  
        As a new volunteer you will have a lot to learn, like where we keep things, and how to answer 
        the many questions you will receive, but be patient, and don’t be afraid to ask for help. 
        You do NOT need to be an experienced bike mechanic to volunteer at TBR.  We welcome all 
        levels of know-how.   However, if you don’t have the desire to learn, you might not last 
        that long.  If you do have the desire to learn, the sky is the limit.
        The key to volunteering is coming back and creating a semi-consistent schedule for yourself 
        and others.  If you keep showing up, not only will you learn, but your presence will be 
        appreciated.

      h4 Working Groups
      p.
        Smaller groups of volunteers meet and discuss projects outside of these meetings and regularly 
        report back.  Some working group examples are: propaganda, facilities, Fem Shop, and more... 

      h1 shop volunteer roles

      h4 Greeter
      p.
        The greeter remains in the front of the shop space, assuring that all participants sign in 
        and orienting newcomers to the space.  The greeter is also  responsible for helping with 
        bike adoption, and selling accessories such as lights, bells, and locks.  As a greeter, 
        it is best to assign a newcomer to a specific volunteer mechanic, if possible.
      h4 Tool Room Attendant
      p.
        The tool room attendant monitors the tool room area and assists patrons and other volunteers 
        with finding small parts and special tools.  During busy open shop sessions, this role is 
        critical in maintaining order in the space, keeping  the mess under control, and keeping track 
        of useful one-of-a-kind tools.
      h4 Mechanic
      p.
        Volunteer mechanics are the gears and guts of TBR.    As a new volunteer mechanic much of your 
        role might be observing projects in the works, but sooner or later, you will pick up a wrench 
        with confidence.  Being a mechanic at TBR is NOT about fixing other peoples’ bikes.  It is about 
        teaching and helping.  We want to teach and empower TBR patrons to care for their own bikes,  
        so don’t let anyone talk you into doing the work for them!

      h1 shop guidelines

      h4 Suggested Donation
      p.
        We are a non-commercial space. We accept and rely on monetary donations, but instead of 
        assigning certain value to objects that have been given to us, we will often assess or ask 
        a patron what a good or service is worth to them and suggest a fair donation.  We don’t turn 
        anyone away for lack of funds.  ... but we also do not like to be taken advantage of.  Sometimes 
        its a fine line.

      h4 No Wrench-Grabbing!
      p.
        Sometimes it is very tempting to take a tool from someone who is using it incorrectly or having 
        trouble with the task.  Please think again!  We empower others to work through their frustrations 
        with calm explanations and courteous suggestions.   Often it is helpful to teach by example by 
        starting a process or showing how a tool is correctly used, but remember to allow someone the 
        opportunity to finish it themselves.

      h4 Keep the Shop Tidy!
      p.
        Clean up after yourself!  Clean up after others!  TBR is a collective spaces, so we need to be 
        considerate of those who will open the shop the next day.  Clean-up time bell rings 30 minutes 
        before the end of a shop session.  This is a signal to wrap up projects and clean-up parts and 
        tools.   Lead by example, and learn where things go in the process.

      h4 Meet People Where They Are...
      p.
        Every situation is an opportunity to teach and to learn from one another.... if you let it.  
        Keep TBR a safe space and try not to judge people before getting to know them.