mixin content(type)
  -if (type==="about")
    h1.content-title About Us
    p.
      Troy Bike Rescue is a collective of cycling enthusiasts committed to removing bikes 
      from the waste stream and getting them back on the streets.

      We operate a volunteer-run community bike space where we organize:

      DiY bike repair nights: Open Shop 
      hands-on bicycle education: Learn Earn
      sliding scale bicycle adoption by Suggested Donation
      ... and mobile workshops

      We are part of an international movement of "community bike projects" - 
      using bicycles to create community.
    h2 Location &amp; Hours
    h4 Location: 3280 6th avenue in North Troy (near Glen Ave.)
    h4 Phone:  (518) EAT-4TBR (328-4827)
    h4 Open Shop:  (Mon. &amp; Wed. 5:00 pm to 8:00pm) Self-Service Workshop with volunteer staff; come and volunteer, adopt a bike, or Learn &amp; Earn!
    h4 Youth Shop: (Tues. 3:00 pm to 6:00 pm) Specific Hours for youth ages 10-15; Earn-A-Bike for volunteer hours; must have signed permission form from parents.  The first Tuesday of every month is Youthshop Ride Club.
    h4 Fem Shop: a weekly workshop night run by, and dedicated to empowering non-male identifying folk with bike maintenance skills.
    p Children under 10 years of age MUST be accompanied by a parent at all times.
  -else if(type==="get-a-bike")
    h1.content-title How to Get a Bike
    p.
      At Troy Bike Rescue, you can either give a sliding scale Suggested Donation 
      for a used bicycle, or you can chose to Learn and Earn for a bike. 
    h4.content-subtitle Adopt a Bike
    p.
      Refurbished bicycles are available for adoption for a donation on a sliding scale.  
      Bikes are grouped into several categories ($15-30, $30-60,  $60-100, etc...), 
      depending on quality and labor spent.  Adoption Bikes are available on a first come 
      first serve basis, and are sold "as is" (some may require some TLC).
      All proceeds from bike adoption fees pay TBR overhead.  
      Without your donations, we cannot do what we do.
    h4 Learn and Earn
    p.
      Youth and adults can 'learn and earn' to obtain a bike by putting in 6 Learn and Earn 
      hours working on Adoption Bikes and other TBR projects.  Learn and Earn hours and skills 
      can be aquired during open shop hours (for adults) and youth hours (under 16).