-var tabs = {'Troy Bike Rescue':'troy-bike-rescue', 'Volunteer':'volunteer', 'Get a Bike':'get-a-bike', 'Calendar':'calendar', 'Gallery':'gallery', 'About':'about', 'Shop':'shop'}
include content-mixin
doctype html
include header
html(class="no-js", lang="en")
  body
    .small-12.columns.primary      
      nav
        .menu-title
        ul
          each tab_class, tab in tabs
            li.tab: a(href='#' class=tab_class)= tab
      .row
        .small-12.large-6.small-centered.large-centered.columns
          .row
            .logo-container
              .logo
              .title troy bike rescue 
          .info-container.row 
            li 380 6TH AVENUE   TROY NY 12180
            li 518 - 328 - 4827
      .main.row       
        section.small-12.large-6.small-centered.columns
          - var i = 0
          each tab_class, tab in tabs
            .content(class=tab_class data-effeckt-page=++i)
              +content(tab_class)
include footer