-var tabs = {'Troy Bike Rescue':'troy-bike-rescue', 'Volunteer':'volunteer', 'Get a Bike':'get-a-bike', 'Calendar':'calendar', 'Gallery':'gallery', 'About':'about', 'Shop':'shop'}
include content-mixin
doctype html
include header
html(class="no-js", lang="en")
  body.row
    .small-12.columns.primary     
      nav
        #menu-icon
        #menu-title= ' '
        ul.menu
          each tab_id, tab in tabs
            li.tab(id=tab_id): a= tab
      .row.collapse
        .small-12.large-4.small-centered.large-uncentered.large-push-8.columns
          .row
            #logo-container
              #logo-image
              #logo-title troy bike rescue 
          .row
            #info-container
              li 380 6TH AVENUE   TROY NY 12180
              li 518 - 328 - 4827
        .small-12.large-8.small-centered.large-uncentered.large-pull-4.columns
          #content-wrapper.row
            each content_id, tab in tabs
              section.content.small-12.large-6.columns(id=('content-' + content_id))
                +content(content_id)
include footer