-var tabs = {'Troy Bike Rescue':'troy-bike-rescue', 'Volunteer':'volunteer', 'Get a Bike':'get-a-bike', 'Gallery':'gallery', 'About':'about', 'Blog':'blog'}
include content-mixin
doctype html
include header
html(class="no-js", lang="en")
  body.row        
    nav
      #menu-background
      #menu-icon
      #menu-title= ' '
      #menu-title--default= 'menu'
      ul.menu
        each tab_id, tab in tabs
          li.tab(id=tab_id): a= tab
    .small-12.columns.primary
      .row.collapse
        .small-12.large-4.small-centered.large-uncentered.columns
          #logo-info-container
            #logo-container
              #logo-image
              #logo-title troy bike rescue 
            #info-container
              #info-address-phone 
                li 3280 6TH AVENUE  TROY, NY 12180
                li 518 - 328 - 4827
              #info-donate-button
                include paypal
              #info-social-media
                a(href="http://www.facebook.com/troybikerescue")
                  #info-social-media--facebook
                a(href="https://twitter.com/troybikerescue")
                  #info-social-media--twitter
                a(href="http://instagram.com/troybikerescue")
                  #info-social-media--instagram
        .small-12.medium-10.large-8.small-centered.large-uncentered.large-push-4.columns
          #content-container.row
            each content_id, tab in tabs
              section.content.small-12.large-6.columns(id=('content-' + content_id))
                +content(content_id)
include footer
  