form(action='https://www.paypal.com/cgi-bin/webscr', method='post')
  input(name='cmd', value='_s-xclick', type='hidden')
  input(name='hosted_button_id', value='7G4M6AM26W9T6', type='hidden')
  br
  input(src='/images/donate-button.svg', name='submit', alt='PayPal -The safer, easier way to pay online!', border='0', type='image')
  img(src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', border='0', height='1', width='1')
  br
